<%- include('partials/header') %>
<div class="container mt-5">
  

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST" class="form-signin">
            <h2 class="form-signin-heading text-center">Register</h2>

    <input type="text" name="name" class="form-control" placeholder="Name" require="" autofocus="">
    <br/>
    <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="">
    <br/>
    <input type="password" name="password" class="form-control" placeholder="Password" require="" >
    <br/>
    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" require="">
    <br/>
    <input type="phone" name="phone" class="form-control" placeholder="Phone Number" require="">
    <br/>
    <input type="address" name="address" class="form-control" placeholder="address" require="">
    <br/>
    <input type="" name="image" class="form-control" placeholder="image link" require="">
    
    <br/>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
    <br>



</form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
    
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
